{% extends 'base.html' %}

{% block title %} Directory {% endblock %}

{% block header %}
    <h1>Welcome to the Directory</h1>
    {% if current_user.is_authenticated %}
        <h5>Hello, {{ current_user.username.title() }}. You'll find your directory below:</h5>
    {% else %}
        <h5>Please Sign Up or Log In to Create A Phonebook</h5>
    {% endif %}
{% endblock %}

{% block content %}
{% for contact in current_user.directory %}
<br>
<div class="container bg-light">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h4>
                <p class="card-text"><strong>Phone:</strong> {{ contact.phone_number }}</p>
                <p class="card-text"><strong>Address:</strong> {{ contact.address }}</p>
                <a href="{{ url_for('edit_contact', contact_id=contact.id) }}" class="btn btn-primary">Edit</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteContactModal-{{ contact.id }}">
                    Delete
                </button>
            </div>
        </div>

        <div class="modal fade" id="deleteContactModal-{{ contact.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ contact.first_name }} {{ contact.last_name }}?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete {{ contact.first_name }} {{ contact.last_name }}? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_contact', contact_id=contact.id) }}" class="btn btn-danger">Delete Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
