{% extends 'base.html' %}

{% block title %} Directory {% endblock %}

{% block header %}
    <h1>Welcome to the Kekambas Blog</h1>
    {% if current_user.is_authenticated %}
        <h5>Hello, {{ current_user.username }}. You'll find your directory below:</h5>
    {% else %}
        <h5>Please Sign Up or Log In to Create A Phonebook</h5>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for contact in contacts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h5>
                    <p class="card-text"><strong>Phone:</strong> {{ contact.phone_number }}</p>
                    <p class="card-text"><strong>Address:</strong> {{ contact.address }}</p>
                    <a href="{{ url_for('edit_contact', directory_id=contact.id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('delete_contact', directory_id=contact.id) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteContactModal-{{ contact.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ contact.first_name }} {{ contact.last_name }}?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ contact.first_name }} {{ contact.last_name }}? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{{ url_for('delete_contact', directory_id=contact.id) }}" class="btn btn-danger">Delete Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
